<div class="container my-4">
  <hr class="mb-4" />

  <!-- Поле пошуку -->
  <div class="row justify-content-center mb-4">
    <div class="col-12 col-md-6">
      <shared-search-box
        [placeholder]="'Search population by name...'"
        (onValue)="handleSearch($event)"
        (onDebounce)="handleDebounce($event)"
      ></shared-search-box>
    </div>
  </div>


  <div class="d-flex justify-content-center mb-4">
    <shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>
  </div>


  <div class="row">
    <div *ngFor="let community of filteredData" class="col-12 col-md-6 col-lg-4 mb-4">
      <mat-card class="population-card shadow-sm">
        <mat-card-header>
          <mat-card-title>{{ community.name }}</mat-card-title>

          <mat-card-subtitle>
            <mat-icon>group</mat-icon> Population: {{ community.population }}
          </mat-card-subtitle>

          <mat-card-subtitle>
            <mat-icon>calendar_today</mat-icon> Year: 2022
          </mat-card-subtitle>

          <button mat-icon-button (click)="toggleProvinces(community.name)">
            <mat-icon>
              {{ toggledCommunities[community.name] ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <p>Number of Provinces: {{ community.provinces.length }}</p>

          <ul *ngIf="toggledCommunities[community.name]">
            <li *ngFor="let province of community.provinces">
              {{ province.name }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
