<div class="container my-4">
  <!-- <h2 class="text-center">Países y Banderas</h2> -->

  <hr />

  <div class="d-flex justify-content-center">
    <shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <shared-search-box
        [initialValue]="initialValue"
        (onDebounce)="searchByFlag($event)"
        placeholder="Buscar bandera por el país">
      </shared-search-box>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <div class="row">
        <div
          *ngFor="let country of filteredCountries"
          class="col-12 col-sm-6 col-md-4 mb-4"
        >
          <div class="card h-100 shadow-sm" (click)="openCountryDetails(country)">
            <img
              [src]="country.flags.svg"
              class="card-img-top img-flag img-fluid"
              [alt]="country.name.common"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ country.name.common }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-country-detail-modal
    [country]="selectedCountry!"
    [showModal]="showModal"
    (close)="closeModal()">
  </app-country-detail-modal>
</div>
